name: tarefa-diaria

on:
  schedule:
    - cron: "0 12 * * *"   # todo dia 12h UTC
  workflow_dispatch:       # botão "Run workflow"

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Instalar dependências
        run: |
          pip install -r requirements.txt

      - name: Executar Acoes
        run: python Acoes.py
